 img {
     margin-left: auto;
     margin-right: auto;
     display: block;
     width: auto;
     height: 50%;
     border-radius: 15px;
 }

 p {
     text-align: justify;
     font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
     margin-left: 70px;
     margin-right: 70px;
     margin-top: 37px;
     font-size: 24px;
     line-height: 36px;
 }

 h1 {
     text-align: center;
     font-size: 37px;
     padding: 1%;
     font-family: Georgia, 'Times New Roman', Times, serif;
 }