{% load static %}
<html>

<head>
    <title>BATA</title>
    <link rel="stylesheet" href="{% static 'css.css' %}">
</head>

<body style="background:linear-gradient(180deg,rgb(202, 11, 11),bisque);">
    <h1 style="color:bisque;">Bata Showroom</h1>
    <img src="{% static 'Bata.jpg' %}" style="width: 43%;">
    <p style="color:#b60005">
        The Bata showroom in T. Nagar is a go-to destination renowned for offering a comprehensive footwear solution for the entire family at affordable prices. Its specialty lies in its wide selection, which features the brand's trusted sub-labels like Hush Puppies (known for comfort and style), Power (for sports and fitness footwear), and Scholl (focusing on foot health). The store consistently stocks everything from durable school shoes and children's collections to elegant formal wear and the latest seasonal casual designs, making it a one-stop shop for reliable quality, exceptional comfort, and great value right in the heart of T. Nagar's bustling shopping district.
    </p>
</body>

</html>