{% load static %}
<html>

<head>
    <title>GEETHAM</title>
    <link rel="stylesheet" href="{% static 'css.css' %}">
</head>

<body style="background:linear-gradient(180deg,#f2b157,#e69951,#b5443b);">
    <h1 style="color:#dc2f02;">Geetham Veg Restaurant</h1>
    <img src="{% static 'Geetham.webp' %}" style="width: 43%;">
    <p style="color: rgb(237, 235, 235);">
        Geetham Veg Restaurant in T. Nagar is a popular pure vegetarian dining spot,
        renowned for its extensive multi-cuisine menu that features authentic South Indian staples, hearty North Indian dishes, and Indo-Chinese selections. A specialty of Geetham is its commitment to fresh, hygienic cooking and its ability to consistently deliver high-quality South Indian breakfast and tiffin items, such as the widely praised Ghee Roast and fragrant Filter Coffee, alongside a wide variety of juices and sweets. The location also often includes a Banquet Hall facility to host events, making it a versatile choice for both casual dining and special occasions.
    </p>
</body>

</html>