{% load static %}
<html>

<head>
    <title>GRT</title>
    <link rel="stylesheet" href="{% static 'css.css' %}">
</head>

<body style="background:linear-gradient(180deg,#f2b635,blanchedalmond);">
    <h1 style="color:white;">GRT Jewellers</h1>
    <img src="{% static 'grt.jpg' %}">
    <p style="color:#0b0829">
        GRT Jewellers in T. Nagar is a landmark destination, representing a golden legacy of trust and craftsmanship since 1964. The multi-storey showroom is celebrated for its vast, exquisite collections that perfectly balance timeless traditional designs, especially in gold, with contemporary, lightweight styles across Gold, Certified Diamond, Platinum, and Silver jewellery. A specialty of this flagship store is its commitment to certified purity (BIS Hallmark) and providing an extensive selection for every life event, from daily wear to grand bridal occasions, cementing its reputation as one of South India's most respected jewellery houses.
    </p>
</body>

</html>