{% load static %}
<html>

<head>
    <title>SARAVANA STORES</title>
    <link rel="stylesheet" href="{% static 'css.css' %}">
</head>

<body style="background:linear-gradient(180deg,#307b8e,#a9d3c5,#d5e9e2);">
    <h1 style="color:whitesmoke;">The Legend Saravana Stores</h1>
    <img src="{% static 'Saravana.jpg' %}">
    <p style="color:#0b0829">
        Saravana Stores in T. Nagar is one of Chennai’s most popular and bustling retail
        landmarks, attracting thousands of shoppers every day. Known for its huge multi-floor
        layout, the store offers an unbeatable range of products—from clothing, sarees,
        jewelry, and accessories to home appliances, kitchenware, furniture, and electronics.
        Its biggest specialty is the combination of affordable pricing, endless variety,
        and a true “one-stop shopping” experience. Whether customers are looking for everyday
        essentials or festive purchases, Saravana Stores T. Nagar stands out for its value
        deals, wide product choices, and lively, fast-paced atmosphere that has become a
        trademark of the brand.
    </p>
</body>

</html>